{% extends 'base.html' %}

{% block content %}
    <div class="container mt-3">
            <div>
                {% for item in recipes %}
                    <div class="card mb-3">
                      <div class="row g-0">
                        <div class="col-md-4">
                            <img src = "{{ item.photo.url }}" class="img-fluid img-thumbnail" alt="...">
                        </div>
                        <div class="col-md-8">
                          <div class="card-body">
                                <h3 class="card-title">{{ item.title }}</h3>
                                <h5><span class="badge text-bg-secondary">{{ item.category }}</span>
                                <span class="badge text-bg-secondary">{{ item.difficulty }}</span>
                                <span class="badge text-bg-secondary">{{ item.cuisine }}</span></h5>
                                <h5 class="card-title" style="margin-top:20px">Method</h5>
                                <p class="card-text">{{ item.method }}</p>
                                <h5 class="card-title">Ingredients</h5>
                                <p class="card-text">{{ item.ingredients }}</p>
                                <p><a href={{ item.source_url }} class="btn btn-primary" target="_blank">Read a primary source</a></p>
                                <p align="right" class="card-text"><small class="text-muted">created: {{ item.created_at|date:"H:i:s Y-m-d" }}</small></p>
                          </div>
                        </div>
                      </div>
                    </div>
                {% endfor %}
            </div>
    </div>

    <div style="margin-bottom:1em" class="d-grid gap-2 col-4 mx-auto">
        <button value="Refresh Page" onclick="window.location.reload();" class="btn btn-warning btn-lg">Show another recipe with this options</button>
    </div>
    <div style="margin-bottom:1em" class="d-grid gap-2 col-4 mx-auto">
        <a href="/randomizer" class="btn btn-success btn-lg">Choose another options of food</a>
    </div>

{% endblock %}
